<ion-searchbar placeholder="Search movies"></ion-searchbar>
<ion-header>
  <ion-toolbar>
    <!-- Back Button -->
    <ion-buttons slot="start">
      <ion-back-button
        default-href="#"
        icon="chevron-back-outline"
      ></ion-back-button>
    </ion-buttons>

    <!-- Cart Button -->
    <ion-buttons slot="end">
      <ion-button class="bg-[#2B2B38] rounded-lg p-1"
        ><ion-icon name="cart-outline" class="text-[#FAEAFF] text-2xl"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>