<ion-header>
  <app-searchbar></app-searchbar>
</ion-header>

<ion-content>
  <!-- Genre's -->
  <ion-title class="pt-4 text-3xl text-center">Categories</ion-title>

  <!-- Genre's List -->
  <ion-list
    class="grid grid-cols-2 justify-items-center bg-[#161621] pt-6 gap-y-6 gap-x-4"
  >
    <ion-card
      *ngFor="let genre of genres"
      class="bg-[#2B2B38] p-0 rounded-xl"
      [routerLink]="['/categories', genre?.id]"
    >
      <!-- Card Image -->
      <ion-card-content *ngIf="beginMovies[genre.id]">
        <img
          [src]="imageBaseUrl + '/w400' + beginMovies[genre.id].poster_path"
          alt="Image based on genre"
        />
      </ion-card-content>

      <!-- Card Header -->
      <ion-card-header class="px-0 pt-0"
        ><ion-card-subtitle class="flex justify-center text-xl"
          >{{genre.name}}</ion-card-subtitle
        ></ion-card-header
      >
    </ion-card>
  </ion-list>
</ion-content>
