<ion-header class="flex justify-center bg-[#161621] py-6">
  <span class="text-2xl">Profile</span>
</ion-header>

<ion-content class="bg-yellow-400">
  <!-- Profile Info -->
  <div class="flex gap-8 pt-8 items-center justify-center bg-[#161621]">
    <!-- Profile Image -->
      <img src="../../../assets/images/blur.jpg" class="w-32 rounded-full" />
    
    <!-- Profile name/email -->
    <div>
      <p>Hi <span class="text-[#F74346]">{{getUserProfileName()?.email}}</span></p>
      <p>Delta, Nigeria</p>
    </div>
  </div>

  <!-- Buttons section -->
  <div class="flex flex-col items-center pt-16 pb-12 space-y-4 bg-[#161621]">
    <button class="flex items-center gap-4 bg-[#2B2B38] text-[#F74346] h-6 p-8 w-[90%] text-xl rounded-lg"><ion-icon name="receipt-outline" class="text-[#F74346] text-2xl"></ion-icon> My Tickets</button>
    <button class="flex items-center gap-4 bg-[#2B2B38] text-[#F74346] h-6 p-8 w-[90%] text-xl rounded-lg"><ion-icon name="card-outline" class="text-[#F74346] text-2xl"></ion-icon> Payment Methods</button>
    <button class="flex items-center gap-4 bg-[#2B2B38] text-[#F74346] h-6 p-8 w-[90%] text-xl rounded-lg"><ion-icon name="cart-outline" class="text-[#F74346] text-2xl"></ion-icon> Carts</button>
  </div>

  <!-- Logout button -->
  <div class="flex justify-center bg-[#161621]">
    <ion-button
    (click)="logout()"
    class="mt-8 py-4 rounded-md gap-15 bg-[#F74346] flex justify-center gap-8 text-[#fff] text-2xl items-center capitalize w-[90%]"
  >
    Log out <ion-icon name="log-out" slot="end" class="text-3xl"></ion-icon>
  </ion-button>
  </div>
</ion-content>
