<ion-header class="bg-[#161621] text-center py-4 space-y-6 pt-6">
  <h1 class="pb-2 text-3xl font-semibold">Welcome back!</h1>
  <p class="text-[#F74346] text-2xl">Sign up</p>
</ion-header>

<ion-content class="bg-[#161621]">
  <!-- Registration Form Field -->
  <form
    [formGroup]="signcredentials"
    (ngSubmit)="register()"
    class="mx-4 space-y-3"
  >
    <!-- Name field -->
    <ion-label class="ml-4">Name</ion-label>
    <ion-item class="bg-[#161621] border-none border-transparent outline-none">
      <ion-input
        class="bg-[#2B2B38] rounded-xl border-none outline-none focus:outline-none px-4"
        type="text"
        formControlName="name"
      ></ion-input>
    </ion-item>

    <br />

    <!-- Email field -->
    <ion-label class="ml-4">Email</ion-label>
    <ion-item class="bg-[#161621] border-none border-transparent outline-none">
      <ion-input
        class="bg-[#2B2B38] rounded-xl border-none outline-none focus:outline-none"
        type="email"
        formControlName="email"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(email?.dirty || email?.touched) && email?.errors"
        >Email is invalid</ion-note
      >
    </ion-item>

    <br />

    <!-- Location field -->
    <ion-label class="ml-4">Location</ion-label>
    <ion-item class="bg-[#161621] border-none border-transparent outline-none">
      <ion-input
        class="bg-[#2B2B38] rounded-xl border-none outline-none"
        type="text"
        formControlName="location"
      >
        <ion-icon slot="start" name="location" class="w-10 text-[#F74346]"></ion-icon
      ></ion-input>
    </ion-item>

    <br />

    <!-- Password field -->
    <ion-label class="ml-4">Password</ion-label>
    <ion-item class="ion-margin-bottom">
      <ion-input
        class="bg-[#2B2B38] rounded-xl border-none outline-none focus:outline-none px-4"
        type="password"
        formControlName="password"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(password?.dirty || password?.touched) && password?.errors"
        >Password needs to be 6 characters</ion-note
      >
    </ion-item>

    <br />

    <ion-button
      type="submit"
      expand="block"
      [disabled]="!signcredentials.valid"
      class="bg-[#F74346] text-white rounded-xl mx-4"
      fill="clear"
      >Sign Up</ion-button
    >

    <p class="ml-4">Already have an account? 
      <a routerLink="/login" class="text-[#F74346]">Log in</a>
    </p>
  </form>
</ion-content>
