ion-header.header-md {
  box-shadow: none;
  -webkit-box-shadow: none;
}

ion-content,
ion-item {
  --background: @apply bg-[#161621];
}

ion-item {
  --border-style: none;
}

// ion-input.has-focus.ion-valid.sc-ion-input-ios-h {
//   --border-color: none;
// }

// #ion-input-1,
// #ion-input-1:focus {
//   border: none;
//   outline: none;
// }
