ion-toolbar {
  --background: #161621;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  --padding-start: .7rem;
  --padding-end: 1rem;
}

ion-back-button {
  --color: #faeaff;
}

#posterImg {
  border: 1px solid rgba(247, 67, 70, 0.53);
}

#synopsis {
  h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .5rem;
  }
  p {
    color: #fff;
    font-weight: 400;
    line-height: 161.5%;
    font-family: "Inter", sans-serif;
  }
}


