<ion-header class="bg-[#161621] text-center py-4 space-y-6 pt-6">
  <h1 class="pb-2 text-3xl font-semibold">Welcome back!</h1>
  <p class="text-[#F74346] text-2xl">Log in</p>
</ion-header>

<ion-content class="bg-[#161621]">
  <!-- Login Form Field -->
  <form [formGroup]="credentials" (ngSubmit)="login()" class="mx-4 space-y-3">
    <ion-label class="ml-4">Email</ion-label>
    <ion-item class="bg-[#161621] border-none border-transparent outline-none">
      <ion-input
        class="bg-[#2B2B38] rounded-xl border-none outline-none focus:outline-none"
        type="email"
        formControlName="email"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(email?.dirty || email?.touched) && email?.errors"
        >Email is invalid</ion-note
      >
    </ion-item>

    <br />

    <ion-label class="ml-4">Password</ion-label>
    <ion-item class="ion-margin-bottom">
      <ion-input
        class="bg-[#2B2B38] rounded-xl border-none outline-none focus:outline-none px-4"
        type="password"
        formControlName="password"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(password?.dirty || password?.touched) && password?.errors"
        >Password needs to be 6 characters</ion-note
      >
    </ion-item>

    <br />

    <ion-button
      type="submit"
      expand="block"
      [disabled]="!credentials.valid"
      class="bg-[#F74346] text-white rounded-xl mx-4"
      fill="clear"
      >Log in</ion-button
    >
    <p class="ml-4">
      <a href="#" class="text-[#F74346]">Forgot password?</a>
    </p>

    <div class="flex justify-between mx-4">
      <img src="../../../assets/icon/Line.svg" alt="Line 1" /> Or
      <img src="../../../assets/icon/Line.svg" alt="Line 2" />
    </div>

    <p class="ml-4">
      Don&apos;t have an account?
      <!-- <a (click)="register()" class="text-[#F74346]">Sign Up</a> -->
      <a routerLink="/signup" class="text-[#F74346]">Sign Up</a>
    </p>
  </form>

  <!-- Other Sign-in Methods -->
  <div class="flex flex-col items-center mt-5 space-y-4">
    <a
      href="#"
      class="flex text-[#F74346] bg-[#2B2B38] mx-6 gap-10 justify-center w-[80%] font-medium py-3 rounded-lg border-solid border-[.5px] border-signInButtonBorder"
      ><img src="../../../assets/icon/google.svg" alt="Google logo" />Log in
      with Google</a
    >
    <a
      href="#"
      class="flex text-[#F74346] bg-[#2B2B38] mx-6 gap-10 justify-center w-[80%] font-medium py-3 rounded-lg border-solid border-[.5px] border-signInButtonBorder"
      ><img src="../../../assets/icon/apple.svg" alt="Apple Logo" />Log in with
      Apple</a
    >
  </div>
</ion-content>
